body {
  margin: 0;
  background: #2C2B3D;
  font-family: 'JetBrains Mono', monospace;


}

.container {
  width: 1095px;
  margin: 0 auto;
}

/*ESTILOS PARA O MENU*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 71px;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 64px;

  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 14px;
  line-height: 28px;

}

.menu a {
  text-decoration: none;
  color: #FFFFFF;
  transition: 0.4s;
}

.menu a:hover {
  font-weight: bold;
  color: #00BFA6;
}


/*ESTILOS PARA O MAIN - CONTEÚDO PRINCIPAL*/

main {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 101px auto 157px;
  padding: 0;
}

.principal {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.principal h1 {
  font-size: 36px;
  line-height: 40px;

  font-weight: bold;
  color: #FFFFFF;
}

.principal h1 span,
.principal p span {
  color: #00BFA6;
  font-weight: bold;
}

.principal p {
  font-family: 'Open Sans', sans-serif;

  width: 604px;
  margin-top: 59px;

  text-align: center;
  font-size: 16px;
  line-height: 28px;

  color: #C2C2C2;
}

/*ESTILOS PARA O FOOTER (RODAPÉ)*/

.line {
  width: 568px;
  border: 1px solid #00BFA6;
  margin: 0 auto 27px;
}

footer {
  background-color: #2C2B3D;
  
  position: fixed;
  width: 100%;
  bottom: 0px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer p {
  color: #FFFFFF;

  font-size: 14px;
  line-height: 28px;
}

footer p a {
  text-decoration: none;
  color: #FFFFFF
}

footer p a:hover {
  color: #00BFA6;
  font-weight: bold;
}

.padLock {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0 0 20px 20px;
}